/**
 * sass/app.scss
 */

body {
    padding-top: 60px;
}

.footer {
    padding: 4px;

    p {
        padding: 0;
        margin: 0;
    }

    a {
        text-decoration: none;
    }

    a,
    a:visited {
        color: #fff;
    }
}
